body {
    background-color: AntiqueWhite;
    width: 1000px;
}


/*------ Header and Text ------*/

.top-header {
    text-align: center;
}

h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 90px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

h2 {
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 72px;
    text-align: center;
}

p {
    color: #685206;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: center;
    text-justify: inter-word;
}

hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0px 45px;
  font-size: 24px;
  font-family: "Bitter",serif;
  line-height: 1;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}
/*----- Border for images -----*/

#border_1,
#border_2 {
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 25px;
    background: #FFE4B5;
    width: 400px;
    height: 300px;
}

#my_camera {
    padding-left: 25px;
    padding-top: 20px;
    text-align: center;
    /*padding: 20px;*/
    /*border-radius: 25px;*/
    /*background: #FFE4B5;*/
    width: 320px;
    height: 240px;
}

#my_image {
    padding-left: 20px;
    padding-top: 15px;
    text-align: center;
    /*padding: 20px;*/
    /*border-radius: 25px;*/
    /*background: #FFE4B5;*/
    width: 320px;
    height: 240px;
}


/*----- Tabs -----*/

.tabs {
    width: 100%;
    display: inline-block;
}


/*----- Tab Links -----*/


/* Clearfix */

.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links li {
    margin: 0px 5px;
    float: left;
    list-style: none;
}

.tab-links a {
    padding: 9px 15px;
    display: inline-block;
    border-radius: 3px 3px 0px 0px;
    background: #7FB5DA;
    font-size: 16px;
    font-weight: 600;
    color: #4c4c4c;
    transition: all linear 0.15s;
}

.tab-links a:hover {
    background: #a7cce5;
    text-decoration: none;
}

li.active a,
li.active a:hover {
    background: #fff;
    color: #4c4c4c;
}


/*----- Content of Tabs -----*/

.tab-content {
    padding: 15px;
    border-radius: 3px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    background: #fff;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}